<div id="services" class="services">
  <h3 class="agileits-title">Nasze usługi</h3>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-comunication"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia komunikacyjne</h4>
      <ul>
        <p>Ubezpieczenie związane z ruchem pojazdów mechanicznych. Najbardziej popularnym ubezpieczeniem
          komunikacyjnym jest <strong>ubezpieczenie odpowiedzialności cywilnej (OC)</strong> posiadaczy pojazdów mechaninczych
          za szkody spodowodane ruchem tych pojazdów.</p>
      </ul>
      <%= link_to 'Czytaj więcej', "/oferta#comunication_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-property">
    </div>
    <div class="col-md-7 services-right services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia mienia</h4>

      <p>Ubezpieczenie mienia najprościej mówiąc, ubezpieczenie naszego majątku. Tym ubezpieczeniem
        może być objęte mienie dom jednorodzinny, lokal mieszkalny, ruchomości domowe. Mogą to być
        również dzieła sztuki, antyki, obiekty małej architektury itd.</p>
      <%= link_to 'Czytaj więcej', "/oferta#property_insurance_header", class: "btn btn-default" %>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-companies"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia firm</h4>
      <ul>
        <p>Są bardzo istotnym elementem w funkcjonowaniu każdej firmy. Wiąże się to przede
          wszystkim z zagrożeniami losowymi nie zależnymi od nas. Dlatego też, zakres prowadzonej
          działalności jest decydujący przy wyborze najodpowiedniejszego rodzaju ubezpieczenia dla danej firmy.</p>
      </ul>
      <%= link_to 'Czytaj więcej', "/oferta#company_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-life"></div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia na życie:</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget
        placerat mauris sed lectus tellus Fusce eu semper lacus, sodales id elit a, feugiat porttitor nulla. Sed porta
        magna vitae nisl vulputate lacinia lorem ipsum dolor sit amet.</p>
      <%= link_to 'Czytaj więcej', "/oferta#life_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-cargo"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia transportowe (cargo):</h4>

      <p>Przeznaczone przede wszystkim dla przedsiębiorców, producentów i handlowców, w tym również eksporterów i importerów, którzy w ramach swojej działalności sprowadzają lub wysyłają różnego rodzaju towary.</p>
      <%= link_to 'Czytaj więcej', "/oferta#transport_insurance_header", class: "btn btn-default" %>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-injuries">

    </div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle"> Ubezpieczenia osób od następstw nieszczęśliwych wypadków:</h4>

      <p>Dotyczy wypadków skutkujących trwałym uszczerbkiem na zdrowiu lub śmiercią Ubezpieczonego. Towarzystwo ubezpieczeniowe wypłaci Tobie lub Twoim bliskim świadczenie, które pomoże np. przy opłaceniu kosztów leczenia.</p>
      <%= link_to 'Czytaj więcej', "/oferta#against_accidents_insurance_header", class: "btn btn-default" %>

    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-liability"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia odpowiedzialności cywilnej:</h4>

      <p>Dzielimy je na kilka kategorii: z tytułu wykonywania działalności różnych zawodów, w życiu prywatnym, osób wykonujących zawód medyczny oraz podmiotów uprawnionych do wykonywania działalności usługowej w zakresie prowadzenia ksiąg rachunkowych.</p>
      <%= link_to 'Czytaj więcej', "/oferta#liability_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-right services-image-agriculture"></div>
    <div class="col-md-7 services-text services-text-light">
      <h4 class="w3agile-sbtitle">Ubezpieczenia rolne</h4>

      <p>Odpowiedzialność cywilna rolnika to ubezpieczenie, które nie dotyczy samego rolnika,
        ale osób trzecich mogących ponieść szkody z tytułu prowadzenia przez rolnika działalności. Obejmuje również
        pojazdy wolnobieżne w rozumieniu prawa o ruchu drogowym np. kombajny rolnicze,</p>
      <%= link_to 'Czytaj więcej', "/oferta#agricultural_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="services-row">
    <div class="col-md-5 services-image services-image-tourist"></div>
    <div class="col-md-7 services-text">
      <h4 class="w3agile-sbtitle">Ubezpieczenia turystyczne:</h4>

      <p>Wyjazd na wczasy  może zakończyć się zaskakującymi wydarzeniami mogą to być np urazy
        ciała, utrata dokumentów, kradzież bagażu. Aby być zabezpieczonym  przed tego typu zdarzeniami,
        oferujemy Państwu ubezpieczenia turystyczne, które pozwalają indywidualnie wybrać zakres
        ochrony dopasowany do własnych potrzeb.</p>
      <%= link_to 'Czytaj więcej', "/oferta#travel_insurance_header", class: "btn btn-default" %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
