<div class="services_page">
<!--main-->
<div class="container">
   <div class="row">
      <!--left-->
      <div class="col-md-3" id="leftCol">
        <ul class="nav nav-stacked" id="sidebar">
            <li class="vertical-menu-element"><a href="#comunication_insurance">Ubezpieczenie komunikacyjne</a></li>
            <li class="vertical-menu-element"><a href="#property_insurance">Ubezpieczenie mienia</a></li>
            <li class="vertical-menu-element"><a href="#life_insurance">Ubezpieczenie zdrowotne i życiowe</a></li>
            <li class="vertical-menu-element"><a href="#company_insurance">Ubezpieczenie dla firm</a></li>
            <li class="vertical-menu-element"><a href="#transport_insurance">Ubezpieczenie transportowe (cargo)</a></li>
            <li class="vertical-menu-element"><a href="#against_accidents_insurance">Ubezpieczenie od następstw nieszczęśliwych wypadków</a></li>
            <li class="vertical-menu-element"><a href="#liability_insurance">Ubezpieczenie odpowiedzialności cywilnej</a></li>
            <li class="vertical-menu-element"><a href="#agricultural_insurance">Ubezpieczenie rolne</a></li>
            <li class="vertical-menu-element"><a href="#travel_insurance">Ubezpieczenie turystyczne</a></li>
        </ul>
      </div><!--/left-->

      <!--right-->
      <div class="col-md-9">
         <h3 id="comunication_insurance_header" class="agileits-title">Usługi</h3>

         <div class="row row_service">
         <div class="pull-left">
            <div class="date-in">
               <%= image_tag("service_photos/picture_transport.png",  class: 'img-responsive', size: "450x1")  %></span>

               <div class="month-in">
                  <span><%= image_tag("icons/icon_comunication.png", size: "100x70") %></span>
                  <p>komunikacja</p>
               </div>
            </div>
         </div>

         <div class="col_service">
            <h4 class="services-headers" id="comunication_insurance">Ubezpieczenie komunikacyjne</h4>

            <p>To ubezpieczenie związane z ruchem pojazdów mechanicznych. Możemy je podzielić  na obowiązkowe, czyli takie, do których zawarcia jesteśmy zobowiązani z mocy prawa, oraz dobrowolne inaczej mówiąc dodatkowe na przykład ubezpieczenie AC lub nnw czyli takie, o których posiadaniu decydujemy sami.Najbardziej  popularnym ubezpieczeniem komunikacyjnym jest ubezpieczenie odpowiedzialności cywilnej posiadaczy pojazdów mechanicznych za szkody spowodowane ruchem tych pojazdów, inaczej mówiąc ubezpieczenie OC. </p>
           <ul>
             <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie odpowiedzialności cywilnej posiadacza pojazdu (OC)</li>
             <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie pojazdów od uszkodzeń (AC) i kradzieży (KR)</li>
             <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie następstw nieszczęśliwych wypadków kierowcy i przewożonychpasażerów</li>
             <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenia pomocy medycznej i technicznej na pojazdy samochodowe</li>
           </ul>
         </div>
       </div>
       <hr id="property_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-right">
           <div class="date-in">
            <%= image_tag("service_photos/picture_property.png",  class: 'img-responsive', size: "450x1")  %></span>
             <div class="month-in">
               <span><%= image_tag("icons/icon_property.png", size: "80x70") %></span>
               <p>własności</p>
             </div>
           </div>
         </div>

         <div class="col_service">
            <h4 class="services-headers" id="property_insurance">Ubezpieczenie mienia</h4>
            <p>Skierowane jest do małych i średnich przedsiębiorców. Daje ono możliwość ubezpieczenia majątku firmy od wszelakich zdarzeń losowych. Dysponujemy bardzo elastycznymi i specjalnie przygotowanymi pakietami pozwalającymi na ubezpieczenie  budynków,  budowli, maszyn oraz innych elementów wyposażenia.</p>
            <p>Indywidualne:</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie budynków i lokali mieszkalnych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie domków letniskowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie domów w budowie</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie mienia od ognia i innych zdarzeń losowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie mienia od kradzieży z włamaniem i rabunku </li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie ruchomości domowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie obiektów budowlano–montażowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie sprzętu elektronicznego</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie szyb i innych przedmiotów szklanych od stłuczenia</li>
            </ul>
            <p>Firm:</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Kompleksowa ochrona małych i średnich przedsiębiorstw</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie mienia od kradzieży z włamaniem i rabunku</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie mienia od ognia i innych zdarzeń losowych</li>
            </ul>
         </div>
      </div>
      <hr id="life_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-left">
            <div class="date-in">
               <%= image_tag("service_photos/picture_health_life.png",  class: 'img-responsive', size: "450x1")  %></span>

               <div class="month-in">
                  <span><%= image_tag("icons/icon_health_life.png", size: "60x70") %></span>
                  <p>życie i zdrowie</p>
               </div>
            </div>
         </div>

         <div class="col_service">
            <h4 id="life_insurance" class="services-headers">Ubezpieczenie zdrowotne i życiowe</h4>

            <p>Oferujemy również dla państwa ubezpieczenia zdrowotne, które są nowym i unikalnym produktem na rynku polskim. Prócz szerokiego zakresu usług ambulatoryjnych obejmuje również kompleksową organizację oraz finansowanie leczenia szpitalnego w bardzo komfortowych warunkach. Ubezpieczony ma do dyspozycji sieć kilkuset renomowanych placówek medycznych rozsianych w całej Polsce. Obsługę zapewnia całodobowe specjalistyczne Call Center medyczne. Mamy kilka pakietów do wyboru w związku z tym każdy znajdzie coś dla siebie.</p>
         </div>
       </div>
       <hr id="company_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-right">
           <div class="date-in">
            <%= image_tag("service_photos/picture_company.png",  class: 'img-responsive', size: "450x1")  %></span>
             <div class="month-in">
               <span><%= image_tag("icons/icon_company.png", size: "70x70") %></span>
               <p>firma</p>
            </div>
           </div>
         </div>

         <div class="col_service">
            <h4 id="company_insurance" class="services-headers">Ubezpieczenie dla firm</h4>
            <p>Ubezpieczenia dla firm są bardzo istotnym elementem w funkcjonowaniu każdej firmy.Wiąże się to przede wszystkim z zagrożeniami losowymi nie zależnymi od nas. Dlatego też, zakres prowadzonej działalności jest decydujący przy wyborze rodzajów ubezpieczeń i ostatecznie wskazuje jakie produkty ubezpieczeniowe będą najodpowiedniejsze dla danej firmy. Nasza Multiagencja jako nieliczna, we współpracy z większością polskich Towarzystw Ubezpieczeniowych proponuje ubezpieczenia dla firm w trzech podstawowych grupach:</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ochrona pracowników</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenia mienia i flot samochodowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenia finansowe i odutraty zysków</li>
            </ul>

            <p>Każdą z tych grup można dalej dzielić na konkretne rodzaje ubezpieczeń, jak na przykład:</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Grupowe ubezpieczenia pracownicze, w tym grupowe ubezpieczenie na życie</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Kompleksowe ubezpieczenia flot samochodowych, w tym OC, autocasco i zielona karta</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenia ładunków w transporcie</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>ubezpieczenie mienia, w tym ubezpieczenie firmy od ognia, ubezpieczenie od kradzieży lub ubezpieczenie sprzętu elektronicznego</li>
            </ul>
         </div>
      </div>
      <hr id="transport_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-left">
            <div class="date-in">
               <%= image_tag("service_photos/picture_cargo.png",  class: 'img-responsive', size: "450x1")  %></span>
               <div class="month-in">
                  <span><%= image_tag("icons/icon_cargo.png", size: "80x70") %></span>
                  <p>transport</p>
               </div>
            </div>
         </div>

         <div class="col_service">
            <h4 id="transport_insurance" class="services-headers">Ubezpieczenie transportowe (cargo)</h4>

            <p>Przeznaczone przede wszystkim dla przedsiębiorców, producentów i handlowców, w tym również eksporterów i importerów, którzy w ramach swojej działalności sprowadzają lub wysyłają różnego rodzaju towary i w związku z tym są narażeni na powstanie szkody w trakcie realizacji transportu.</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie mienia w transporcie krajowym
               </li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie ładunków w transporcie międzynarodowym</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie OC spedytora</li>
            </ul>
         </div>
      </div>
      <hr id="against_accidents_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-right">
           <div class="date-in">
               <%= image_tag("service_photos/picture_accidents.png",  class: 'img-responsive', size: "450x1")  %></span>
                <div class="month-in">
                  <span><%= image_tag("icons/icon_accidents.png", size: "60x70") %></span>
                  <p>nieszczęśliwe wypadki</p>
               </div>
           </div>
         </div>

         <div class="col_service">
            <h4 id="against_accidents_insurance" class="services-headers">Ubezpieczenie od następstw nieszczęśliwych wypadków</h4>

            <p>Ubezpieczenie następstw nieszczęśliwych wypadków skutkujących trwałym uszczerbkiem na zdrowiu lub śmiercią Ubezpieczonego. Jeśli ulegniesz takiemu zdarzeniu towarzystwo ubezpieczeniowe wypłaci Tobie lub Twoim bliskim świadczenie, które pomoże opłacić koszty leczenia i rehabilitacji oraz wypełni lukę finansową spowodowaną nieobecnością w pracy</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie dzieci, uczniów, studentów oraz personelu szkół, uczelni  i innych placówek oświatowo-wychowawczych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Zbiorowe ubezpieczenie uczestników wycieczek, obozów sportowych i innych wyjazdów grupowych</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenie następstw nieszczęśliwych wypadków kierowcy i pasażera</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Ubezpieczenia następstw nieszczęśliwych wypadków osób uprawiających dyscypliny sportowe</li>
            </ul>
         </div>
      </div>
      <hr id="liability_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-left">
            <div class="date-in">
               <%= image_tag("service_photos/picture_liability.png",  class: 'img-responsive', size: "450x1")  %>
                  <div class="month-in">
                     <span><%= image_tag("icons/icon_liability.png", size: "70x70") %></span>
                     <p>odpowiedzialność cywilna</p>
                  </div>
            </div>
         </div>

         <div class="col_service">
            <h4 id="liability_insurance" class="services-headers">Ubezpieczenie odpowiedzialności cywilnej</h4>

            <p>Wyróżniamy kilka rodzajów dotyczących ubezpieczenia odpowiedzialności cywilnej:</p>
            <ul>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Odpowiedzialności cywilnej z tytułu wykonywania działalności różnych zawodów - chroni firmę i jej pracowników przed roszczeniami ze strony klientów, organów regulacyjnych i organizacji skupiających i reprezentujących klientów, wynikającymi z nieprawidłowych działań zawodowych pracowników.</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Odpowiedzialność cywilna w życiu prywatnym - chroni przed finansowymi konsekwencjami zdarzeń, których skutkiem są szkody spowodowane osobom trzecim.</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Odpowiedzialności cywilnej osób wykonujących zawód medyczny - zapewnienie odszkodowania osobom poszkodowanym w następstwie udzielania świadczeń zdrowotnych albo niezgodnego z prawem zaniechania ich udzielania lub wykonywania zawodu lekarza oraz innego zawodu medycznego.</li>
               <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Odpowiedzialności cywilnej podmiotów uprawnionych do wykonywania działalności usługowej w zakresie prowadzenia ksiąg rachunkowych itd.</li>
            </ul>
         </div>
      </div>
      <hr id="agricultural_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-right">
           <div class="date-in">
               <%= image_tag("service_photos/picture_agriculture.png",  class: 'img-responsive', size: "450x1")  %>
                <div class="month-in">
                  <span><%= image_tag("icons/icon_agriculture.png", size: "60x70") %></span>
                  <p>rolnictwo</p>
               </div>
           </div>
         </div>

         <div class="col_service">
            <h4 id="agricultural_insurance" class="services-headers">Ubezpieczenie rolne</h4>

            <p>OC rolnika to ubezpieczenie, które nie dotyczy samego rolnika, ale osób trzecich mogących ponieść szkody z tytułu prowadzenia przez rolnika działalności. Trzeba tu pamiętać, że osobą trzecią nie są członkowie rodziny zamieszkujący i wspólnie prowadzący gospodarstwo, czy też pracownicy rolnika.</p>
            <p>Odpowiedzialność cywilna rolnika polega na wypłacie odszkodowania w związku z wyrządzeniem szkody z tytułu posiadania gospodarstwa rolnego. Szkody mogą powodować śmierć, rozstrój zdrowia bądź też utratę, zniszczenie lub uszkodzenie mienia osoby trzeciej. Krótko mówiąc - rolnik wykupuje OC po to, aby z własnej kieszeni nie musiał wypłacać pieniędzy za szkody wyrządzone osobom trzecim np. sąsiadowi, któremu zniszczy opryskami uprawy podczas zabiegów agrotechnicznych prowadzonych przy granicy pól.</p>
            <p clAss="lastHead">OC rolnika obejmuje również pojazdy wolnobieżne w rozumieniu prawa o ruchu drogowym, czyli np. kombajny rolnicze, w związku z ruchem tych pojazdów i użytkowanych w związku z posiadaniem gospodarstwa.
            Rolnik nie musi na pojazdy wolnobieżne wykupywać dodatkowej polisy OC komunikacyjnego.</p>
         </div>
      </div>
      <hr id="travel_insurance_header" class="featurette-divider">

      <div class="row row_service">
         <div class="pull-left">
            <div class="date-in">
               <%= image_tag("service_photos/picture_travel.png",  class: 'img-responsive', size: "450x1")  %>
               <div class="month-in">
                  <span><%= image_tag("icons/icon_travel.png", size: "80x70") %></span>
                  <p>podróżowanie</p>
               </div>
            </div>
         </div>

         <div class="col_service">
            <h4 id="travel_insurance" class="services-headers">Ubezpieczenie turystyczne</h4>

            <p>Wyjazd na wczasy  może zakończyć się zaskakującymi wydarzeniami mogą to być np urazy ciała, utrata dokumentów, kradzież bagażu. Aby być zabezpieczonym  przed tego typu zdarzeniami, nasza multiagencja oferuje Państwu  ubezpieczenia turystyczne najbardziej znanych towarzystw ubezpieczeniowych w Polsce. Gama tych ubezpieczeń jest bardzo szeroka, a zakres ochrony można dobrać indywidualnie do własnych potrzeb. Jeśli chcemy podczas urlopu czuć się komfortowo i bezpiecznie, to ubezpieczenie turystyczne jest niezbędne.</p>
         </div>
      </div>

        </div><!--/right-->
   </div><!--/row-->
</div><!--/container-->
</div>


<script type="text/javascript">

   /* activate sidebar */
$('#sidebar').affix({
  offset: {
    top: 235
  }
});

/* activate scrollspy menu */
var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
    target: '#leftCol',
    offset: navHeight
});
$(document).ready(function ($) {
$('.nav li').removeClass('active');
$('#offer_menu').addClass('active');
if($(window).width() < 900){
   $("#sidebar").remove();

}
$('#sidebar a').click(function () {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.substr(1) + ']');
        if (target.length) {
            $('html,body').animate({
                scrollTop: target.offset().top - 120
            }, 1000);
            return false;
        }
    });

});
$(window).scroll(function () {

    var distanceFromTop = $("#leftCol").offset().top - $(window).scrollTop();
    if (distanceFromTop < 100 && $(window).width() > 900) {
        $("#sidebar").addClass("affix");
        $("#sidebar").css("top", "90px");

    }


    var distanceFromTop2 = $("#leftCol").offset().top - $(window).scrollTop();
   // var distance3 = $(document).height() - $(window).scrollTop() - $(window).height() - $(".footer").outerHeight(true);

   var distanceFromTop4 = $(".lastHead").offset().top - $(window).scrollTop();

    if (distanceFromTop2 > 100) {
       $("#sidebar").removeClass("affix");
    }
    if (distanceFromTop4 < 100) {
        $("#sidebar").css("top", distanceFromTop4);
    }

    $(".services-headers").each(function () {


        if (isScrolledIntoView(this)) {
            var query = "li.vertical-menu-element:contains(" + this.textContent + ")";
            var query2 = "a:contains(" + this.textContent + ")";

            $(".vertical-menu-element").css("background", "inherit");
            $("a:contains(Ubezpieczenie)").css("color", "#777");

            $(query).css("background", "#e30a33");
            $(query2).css("color", "white");
        }
    });

})

function isScrolledIntoView(elem) {
    var docViewTop = $(window).scrollTop();
    var docViewBottom = docViewTop + 360;

    var elemTop = $(elem).offset().top;
    var elemBottom = elemTop + $(elem).height();

    return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
}

</script>
